x.row > [class*="span"] {
  margin-left: 2px;
}
body {
  margin-top: 1em;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.icon {
  max-width: 2em;
}
.prop {
  white-space: nowrap;
}
.disable {opacity: 0.4; zoom: 1; filter: alpha(opacity=40) }
.group, .instance {
 border-bottom: 1px solid black;
}
.instance {
 background-color:white; 
}
.instance:hover { background-color:#ffffaa; }
h1 {
  text-align: center;
}
.main-link {
  font-size: medium;
}
