/*x.row > [class*="span"] {
  margin-left: 2px;
}*/
body { 
  margin-top: 1em; /*add some whitespace at the top */
  max-width: 1000px; /*limit the width on large screens */
  margin-left: auto; /* center */
  margin-right: auto; /* center */
}
.title {
  margin-bottom: 0.5em;
}
h1 {
  text-align: center; /* center the title */
}
.options {
  border: 1px solid black;
  padding: 2px;
  margin: 2px;
}
.group, .instance { /* adds lines between instances */
 border-bottom: 1px solid black;
}
.instance:hover { background-color:#ffffaa; } /* highlight the selected instance */
.main-link { /* make the proxying link text larger than the rest of the text */
  font-size: medium;
}
.iconimage { /*using the name icon-image makes the images tiny, odd*/
  max-width: 45%; /* limit the size of icons, 45% means that two can fit on one row */
}
.icon {
  margin: 1px; /* put some space between icons */
}

.prop {
  white-space: nowrap; /* prevent linewrap between propery name and value */
}
.instance { /* meant to make opacity look better in IE, not sure if it works */
 background-color:white; 
}
#status {
  margin-left: 1em;
}
.groupby-option {
  font-size: smaller;
  opacity: 0.7; /*grey out off-line instances */
  zoom: 1; filter: alpha(opacity=70) /* needed for IE */
}
